.time {
    font-size: 14px;
    font-weight: 600;
}

.container {
    max-width: 750px;
}

.btn {
    --bs-btn-border-radius: 25px;
}

#actionBtnDiv .btn-outline-theme, #actionBtnDiv .btn-theme {
    height: 42px;
}

.btn-done {
    --bs-btn-border-radius: 5px;
}