body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.font-theme {
    font-family: emoji !important;
    color: #fff;
}

.color-theme {
    color: #e2b656 !important;
}

.bg-theme {
    /* background-color: #c89f46 !important; */
    background-color: #e2b656 !important;
}

.btn-theme {
    --bs-btn-color: #fff;
    --bs-btn-bg: #e2b656;
    --bs-btn-border-color: #d4aa4d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bf9743;
    --bs-btn-hover-border-color: #bf9743;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #aa873c;
    --bs-btn-active-border-color: #aa873c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c89f46;
    --bs-btn-disabled-border-color: #c89f46;
}

.btn-outline-theme {
    --bs-btn-color: #c89f46;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #c89f46;
    --bs-btn-hover-color: #bf9743;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #bf9743;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #aa873c;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #aa873c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #c89f46;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #c89f46;
}

.border-theme {
    border-color: #e2b656;
}

.offcanvas.offcanvas-bottom {
    max-width: 650px;
    border-radius: 1em 1em 0 0;
    margin-left: auto;
}

.offcanvas.offcanvas-theme-sm {
    height: 30%;
}

.offcanvas.offcanvas-theme-md {
    height: 50%;
}

.offcanvas.offcanvas-theme-lg {
    height: 70%;
}